@media(max-width:1200px) {
    /* service section */

    .service {
        flex-direction: column;
    }

    .service-slider, .service-block {
        width: 100%;
    }

    .service-slider {
        height: 380px;
    }

    .slide-img {
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}


@media(max-width:1000px) {
    /* header */

    header .container {
        flex-direction: column;
        padding-top: 15px;
    }

    .nav{
        width: 100%;
    }

    .nav-list {
        margin-top: 10px;
    }

    .nav-item {
        flex-grow: 1;
    }

    .nav-link {
        padding: 40px 0;
        text-align: center;
    }

    /* home */

    .home {
        min-height: auto;
        padding: 40px 0;
    }

    /* favorable section */

    .fav-container {
        flex-direction: column;
    }

    .fav-item {
        width: 100%;
    }

    .fav-text {
        width: 100%;
    }

    /* tours section */

    .tours-link {
        flex: 0 32%;
        margin-bottom: 2%;
    }
}

@media(max-width:800px) {
    /* header */

    header .container {
        padding-left: 0;
        padding-right: 0;
    }

    .mini-menu {
        display: block;
    }

    .nav-list {
        flex-direction: column;
        display: none;
        margin-top: 0;
    }

    .nav-link {
        padding: 20px 0;
        background-color: var(--green);
        color: var(--white);
        border-top: 2px solid var(--white);
    }

    .nav-link:hover {
        background-color: rgba(89, 196, 90, .6);
        color: var(--grey);
    }

    /* home */

    .home-header {
        font-size: 50px;
    }

    .home-text {
        font-size: 18px;
        line-height: 28px;
    }

    /* service section */

    .service-item {
        margin: 0 auto 30px;
        width: 80%;
    }

    /* tours section */

    .tours-link {
        flex: 0 49%;
        margin-bottom: 2%;
    }

    /* contacts section */

    .contacts-container {
        flex-direction: column;
    }

    .contacts-info, .contacts-form {
        width: 100%;
    }
}

@media(max-width: 600px) {
    /* favorable section */

    .fav-item {
        flex-direction: column;
        align-items: center;
    }

    .fav-image {
        width: 70%;
    }

    /* service section */

    .slide-img {
        filter: blur(5px);
    }

    .slick-center .slide-img {
        filter: blur(0);
    }
}