@media(max-width:1000px) {
    /* header */

    header .container {
        flex-direction: column;
        padding-top: 15px;
    }

    .nav{
        width: 100%;
    }

    .nav-list {
        margin-top: 10px;
    }

    .nav-item {
        flex-grow: 1;
    }

    .nav-link {
        padding: 40px 0;
        text-align: center;
    }

    /* home */

    .home {
        min-height: auto;
        padding: 40px 0;
    }
}

@media(max-width:800px) {
    /* header */

    header .container {
        padding-left: 0;
        padding-right: 0;
    }

    .mini-menu {
        display: block;
    }

    .nav-list {
        flex-direction: column;
        display: none;
        margin-top: 0;
    }

    .nav-link {
        padding: 20px 0;
        background-color: var(--green);
        color: var(--white);
        border-top: 2px solid var(--white);
    }

    .nav-link:hover {
        background-color: rgba(89, 196, 90, .6);
        color: var(--grey);
    }

    /* home */

    .home-header {
        font-size: 50px;
    }

    .home-text {
        font-size: 18px;
        line-height: 28px;
    }
}